
/* 内容容器 */
.cont-01{}
.cont-b-01{border:1px solid #e6e6e6;}
.cont-b-02{border:1px solid #e6e6e6;border-top:none;}
/**/


/* 库类样式重写 */
.cont-01,.cont-b-01,.cont-b-02{background:#fff;}
.list-text-01-FCD{padding:10px;}
.list-text-02-FCD{padding:5px;}
.list-text-05-FCD{padding:10px 10px 0;}
.list-pic-07-FCD{padding:0 10px;}
.list-complex-01-FCD{padding:10px;}
.list-complex-01-FCD .ricolumn-box{width:185px;overflow:hidden;}
.thead-01-FCD{margin:0 10px;}
.thead-03-FCD span{right:5px;}

.column-box-08{overflow:hidden;}
.warp-center .column-box-04{overflow:hidden;float:right;width:320px;}