
//list-text（文字列表）

//list-text-01-FCD
.list-text-01-FCD{
	overflow:hidden;
	
	li{height:28px;padding-left:18px;line-height:28px;overflow:hidden;position:relative;}
	a{position:relative;line-height:28px;font-size:14px;}
	a:hover{color:#000;text-decoration:underline;}
	i{position:absolute;left:0;top:9px;}
	.film-ico{display:block;width:12px;height:11px;overflow:hidden;background:url(../images/ico-02.gif);}
}


//list-text-02-FCD
.list-text-02-FCD{
	overflow:hidden;
	
	li{overflow:hidden;clear:both;}
	a,span{display:block;white-space:nowrap;height:22px;line-height:22px;padding:0 5px;float:left;}
	span{font-weight:bold;font-size:12px;font-family:"微软雅黑";color:#999;}
	li a:hover{color:#000;text-decoration:underline;}
}


//list-text-03-FCD
.list-text-03-FCD{
	overflow:hidden;
	
	dt{height:31px;background:#6e6e6e;width:100%;}
	h1{line-height:31px;font-size:14px;color:#fff;text-indent:1em;padding:0;}
	dd{overflow:hidden;border-bottom:1px solid #e6e6e6;width:100%;position:relative;}
	dd:hover{background:#f1f1f1;}
	.down{background:#f1f1f1;}
	.down div span{display:none;background:#;}
	font{font-size:12px;}
	a{display:block;float:left;color:#333;font-weight:bold;line-height:31px;text-indent:1em;}
	.r-link{color:#adacac;float:right;position:absolute;right:10px;top:0;}
	.r-link a{text-indent:0;width:48px;text-align:center;}
	.r-link a,.r-link span{font-weight:normal;color:#adacac;line-height:31px;}
	.r-link span{line-height:33px;font-family:"微软雅黑";}
	.las,.las:hover{background:#ffde9f;}
	font{font-weight:bold;line-height:31px;text-indent:20px;display:block;color:#a40000;}
	.las-01{border-bottom:none;}
	ul{width:100%;border-top:1px solid #e6e6e6;overflow:hidden;}
	ul li{width:100%;height:26px;position:relative;float:left;}
	ul a{width:100%;height:100%;background:#fff;font-weight:normal;text-indent:22px;line-height:26px;}
	ul a:hover{color:#d10013;}
	ul a b{color:#999;font-weight:normal;}
	ul a:hover{background:#f1f1f1;}
	ul span{position:absolute;top:7px;right:14px;}
}


//list-text-04-FCD
.list-text-04-FCD{
	dt{overflow:hidden;margin-bottom:5px;}
	h1{width:85px;height:25px;background:#fff1f8;border:1px solid #d6468c;color:#d6468c;font-size:14px;font-weight:normal;line-height:25px;text-align:center;border-radius:3px;margin-left:14px;padding:0;}
	dd{overflow:hidden;}
	a{display:block;float:left;width:54px;line-height:25px;text-indent:15px;}
}


//list-text-05-FCD
.list-text-05-FCD{
	overflow:hidden;
	
	li{overflow:hidden;border-bottom:1px dotted #d0d0d0;padding:0 0 10px 69px;margin-bottom:10px;_float:left;}
	a{display:block;float:left;}
	.nav-a{width:56px;height:30px;background:#eee;float:left;border:1px solid #d4d4d4;border-radius:5px;line-height:30px;text-align:center;font-size:14px;color:#666;margin-left:-69px;_margin-left:-34px;position:relative;z-index:30;}
	div{height:32px;overflow:hidden;}
	div a{color:#666;white-space:nowrap;line-height:17px;}
}

//list-text-06-FCD
.list-text-06-FCD{
	overflow:hidden;padding-left:50px;
	
	 dt{font-weight:normal;color:#6e6e6e;width:50px;line-height:20px;padding:3px 0;float:left;font-size:12px;margin-left:-50px;position:relative;z-index:30;}
	 dd{float:left;padding:3px 25px 3px 0;position:relative;}
	 a{white-space:nowrap;overflow:hidden;padding:0 5px;display:block;line-height:25px;margin-right:20px;color:#0169a8;line-height:20px;height:20px;white-space:nowrap;display:block;float:left;}
	 .line-03{display:inline-block;margin:7px 5px 5px;isplay:block;width:1px;height:10px;overflow:hidden;background:#999;overflow:hidden;float:none;}
	 font{color:#aeaeae;}
	 span{display:block;background:#a40000;color:#fff;float:left;margin-right:20px;padding:0 5px;line-height:20px;height:20px;}
	 .more{margin:0;position:absolute;right:0;top:4px;color:#333;}
}


//list-text-07-FCD
.list-text-07-FCD{
	background:#e8e8e8;width:100%;
	
	td,.tab_01 th{height:30px;background:#fff;text-indent:15px;font-size:12px;color:#666;}
	thead td,thead th{height:33px;font-weight:bold;.gray-lgtb-01-cur;background-color:#f4f4f4;}
	th{text-indent:0;text-align:center;}
	img{width:115px;height:45px;margin:10px 0;}
	tr:hover td{background-color:#fffdf0;}
	thead tr:hover td{background-color:none;}
	.tbod td{font-weight:bold;}
}


//list-text-08-FCD
.list-text-08-FCD{
	overflow:hidden;border-bottom:1px solid #e8e8e8;overflow:hidden;_width:100%;_float:left;position:relative;
	
	 dt{height:38px;border-bottom:1px solid #e8e8e8;_width:100%;_float:left;.gray-lgtb-01-cur;background-color:#f4f4f4;}
	 a{display:block;font-size:16px;font-family:"微软雅黑";text-indent:35px;color:#878787;position:relative;}
	 .down{color:#77abe2;}
	 dt a{line-height:38px;height:38px;}
	 dt a:hover{text-decoration:none;}
	 dd{_width:158px;_float:left;}
	 dd a{font-size:14px;color:#666;height:32px;line-height:32px;text-indent:28px;margin:0 7px;border-bottom:1px dashed #f0f0f0;}
	 dd a:hover{color:#77abe2;}
	 dd .las{border:none;}
	 .ico-04-FCD{position:absolute;left:15px;top:11px;}
}


//list-text-09-FCD
.list-text-09-FCD{
	width:122px;border-right:1px solid #f5e4ca;height:100%;
	
	li{width:100%;}
	a{display:block;position:relative;height:31px;line-height:30px;color:#525252;border-bottom:1px solid #fff;font-family:"微软雅黑";font-size:14px;padding-left:15px;background:#fff5ea;}
	.down{color:#fff;}
	.down b{display:block;}
	.down_01{background:#9844a2;}
	.down_02{background:#d6468c;}
	.down_03{background:#db7b2e;}
	.down_04{background:#dc913e;}
	.down_05{background:#ddbb26;}
	.down_06{background:#8ab62b;}
	.down_07{background:#2eb8c5;}
	.down_08{background:#29a59d;}
	.down_09{background:#3f80da;}
	.down_10{background:#7086db;}
	.las a{border:none;}
	.color_block{width:6px;height:100%;position:absolute;left:0;top:0;}
	.color_block_01{background:#9844a2;}
	.color_block_02{background:#d6468c;}
	.color_block_03{background:#db7b2e;}
	.color_block_04{background:#dc913e;}
	.color_block_05{background:#ddbb26;}
	.color_block_06{background:#8ab62b;}
	.color_block_07{background:#2eb8c5;}
	.color_block_08{background:#29a59d;}
	.color_block_09{background:#3f80da;}
	.color_block_10{background:#7086db;}
	.jt-right-01-FCD{display:none;position:absolute;right:-4px;_right:-4px;top:12px;}
	.down .jt-right-01-FCD{display:block;}
	.ico-08-FCD{float:left;margin:7px 13px 0 0;}
}


//list-text-10-FCD
.list-text-10-FCD{
	height:100%;
	
	dt,dd{height:39px;overflow:hidden;position:relative;background:#2c2c2c;padding-left:50px;}
	dd{background:#373737;}
	dt:hover,dd:hover,.down{background:#565656;}
	a{color:#ccc;display:block;line-height:39px;float:left;}
	.fir{font-size:14px;margin-right:20px;color:#fff;}
	.jt-right-01-11-FCD{position:absolute;right:10px;top:16px;}
	dt .jt-right-01-11-FCD{border:4px solid #2c2c2c;border-right:none;border-left:4px solid #787878;}
	dd .jt-right-01-11-FCD{border:4px solid #373737;border-right:none;border-left:4px solid #787878;}
	dt:hover .jt-right-01-11-FCD,dd:hover .jt-right-01-11-FCD{border:4px solid #565656;border-right:none;border-left:4px solid #787878;}
	.down .jt-right-01-11-FCD{border:4px solid #565656;border-right:none;border-left:4px solid #787878;}
}


//list-text-11-FCD
.list-text-11-FCD{
	width:100%;
	
	li{width:195px;height:35px;}
	li a{width:100%;display:block;height:100%;display:block;position:relative;}
	li span{display:block;position:relative;height:100%;font-size:14px;color:#333;line-height:35px;width:175px;border-bottom:1px dotted #ebebeb;float:right;text-indent:25px;}
	li a:hover span,li .down span{color:#ff7000;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;height:34px;line-height:33px;border-right:3px solid #ff6c00;width:192px;background:#fff;text-indent:45px;}
	li i{position:absolute;left:0;top:9px;}
	.tishi_num_ico{display:block;overflow:hidden;width:17px;height:18px;font-size:10;font-family:"微软雅黑";text-align:center;line-height:14px;font-style:normal;color:#fff;background:url(../images/tishi_num_ico.gif);left:110px;position:absolute;top:8px;font-weight:normal;font-weight:normal}
	li a:hover i,li .down i{left:20px;top:8px;}
}


//list-text-12-FCD
.list-text-12-FCD{
	padding:5px 0;
	
	li{width:100%;border:1px solid #F7FBFF;border-width:1px 0;overflow:hidden;float:left;}
	li:hover{border:1px solid #cfe4f7;border-width:1px 0;background:#fff;}
	a{border-width:1px 0;display:inline-block;}
	.lef i{position:absolute;left:8px;top:8px;}
	.lef{float:left;padding-left:30px;height:100%;color:#333;line-height:33px;font-size:12px;position:relative;}
	.rig{height:100%;width:100px;float:right;}
	.rig a{display:block;float:right;height:100%;line-height:33px;color:#999;font-size:12px;padding:0 10px 0 0;}
}


//list-text-13-FCD
.list-text-13-FCD{
	overflow:hidden;
	
	li{padding:0 70px 0 12px;height:28px;line-height:28px;position:relative;overflow:hidden;}
	li i{position:absolute;left:0;top:11px;}
	li a{font-size:12px;text-decoration:none;text-decoration:underline;color:#44b5df;text-decoration:none;}
	li a:hover{color:#333;text-decoration:underline;}
	span{color:#999;margin-left:18px;display:block;position:absolute;right:0;top:0;line-height:28px;width:70px;text-align:right;}
}



