div
	h1(style="font-family:'微软雅黑';font-size:30px;")404
    p(style="font-family:'微软雅黑';line-height:30px;") 由于新站上线非常道CSS框架已转移到
		br
    	a(href="http://www.icsser.com" title="点我",style="font-family:'微软雅黑';") 最新地址>>