<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>非常道CSS框架</title>
<base target="_self" />
</head>
<style>
*{font-family:"微软雅黑";}
div.dizhi{width:500px;margin:100px auto 0;}\
div.dizhi h1{font-size:30px;}
p{line-height:30px;}
</style>
<body>
<div class="dizhi">
	<h1>404</h1>
    <p>由于新站上线非常道CSS框架已转移到<br />
    	<a href="http://www.icsser.com" title="点我">最新地址>></a>
    </p>
</div>
</body>
</html>
