<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>非常道CSS框架</title>
<base target="_self" />
</head>
<body>
<div class="dizhi">
	<h1 style="font-family:'微软雅黑';font-size:30px;">404</h1>
    <p style="font-family:'微软雅黑';line-height:30px;">由于新站上线非常道CSS框架已转移到<br />
    	<a href="http://www.icsser.com" title="点我" style="font-family:'微软雅黑';">最新地址>></a>
    </p>
</div>
</body>
</html>