@charset "utf-8";
/* CSS Document */


/*-----------非常道CSS框架样式引入-----------*/

/* 非常道CSS框架 version 0.10.0 */
/* 作者：苹果下饭 */
/* QQ群：155947197 */



/* 标准宽度（可选） */
.g-720-center{width:720px;margin:0 auto;}
.g-960-center{width:960px;margin:0 auto;}
.g-1200-center{width:1200px;margin:0 auto;}
.g-1440-center{width:1440px;margin:0 auto;}
/*.g-1680-center{}*/
/**/

/* 通栏容器 */.g-all-warp{width:100%;}/**/

/* 清除浮动（空容器）*/.clear-block{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}/**/
/* 占位容器 */
.block-null{clear:both;display:block;overflow:hidden;visibility:hidden;}
.block-10-null{height:10px;}
.block-20-null{height:20px;}
.block-30-null{height:30px;}


/**/

/* 栅格均分内边距（左） */.g-pdl05{padding-left:5px;}
.g-pdl10{padding-left:10px;}
.g-pdl15{padding-left:15px;}



/*——————————————16栅格通用定义——————————————*/

.g-db-01,.g-db-02,.g-db-03,.g-db-04,.g-db-05,.g-db-06,.g-db-07,.g-db-08,.g-db-09,.g-db-10,.g-db-11,.g-db-12,.g-db-13,.g-db-14,.g-db-15{float:left;}
.g-mg10-01,.g-mg10-02,.g-mg10-03,.g-mg10-04,.g-mg10-05,.g-mg10-06,.g-mg10-07,.g-mg10-08,.g-mg10-09,.g-mg10-10,.g-mg10-11,.g-mg10-12,.g-mg10-13,.g-mg10-14,.g-mg10-15,.g-lr10-db{float:left;margin-right:10px;}
.g-mg20-01,.g-mg20-02,.g-mg20-03,.g-mg20-04,.g-mg20-05,.g-mg20-06,.g-mg20-07,.g-mg20-08,.g-mg20-09,.g-mg20-10,.g-mg20-11,.g-mg20-12,.g-mg20-13,.g-mg20-14,.g-mg20-15,.g-lr20-db{float:left;margin-right:20px;}
.g-mg30-01,.g-mg30-02,.g-mg30-03,.g-mg30-04,.g-mg30-05,.g-mg30-06,.g-mg30-07,.g-mg30-08,.g-mg30-09,.g-mg30-10,.g-mg30-11,.g-mg30-12,.g-mg30-13,.g-mg30-14,.g-mg30-15,.g-lr30-db{float:left;margin-right:30px;}

/*——————————————16栅格通用定义 结束——————————————*/



/*——————————————960宽度——————————————*/

/* 960宽度 16栅格（无间隔） */
.g-960-center .g-db-01{width:60px;}
.g-960-center .g-db-02{width:120px;}
.g-960-center .g-db-03{width:180px;}
.g-960-center .g-db-04{width:240px;}
.g-960-center .g-db-05{width:300px;}
.g-960-center .g-db-06{width:360px;}
.g-960-center .g-db-07{width:420px;}
.g-960-center .g-db-08{width:480px;}
.g-960-center .g-db-09{width:540px;}
.g-960-center .g-db-10{width:600px;}
.g-960-center .g-db-11{width:660px;}
.g-960-center .g-db-12{width:720px;}
.g-960-center .g-db-13{width:780px;}
.g-960-center .g-db-14{width:840px;}
.g-960-center .g-db-15{width:900px;}
/**/

/* 960宽度 16栅格（10像素间隔） */
.g-960-center .g-mg10-01{width:50px;}
.g-960-center .g-mg10-02{width:110px;}
.g-960-center .g-mg10-03{width:170px;}
.g-960-center .g-mg10-04{width:230px;}
.g-960-center .g-mg10-05{width:290px;}
.g-960-center .g-mg10-06{width:350px;}
.g-960-center .g-mg10-07{width:410px;}
.g-960-center .g-mg10-08{width:470px;}
.g-960-center .g-mg10-09{width:530px;}
.g-960-center .g-mg10-10{width:590px;}
.g-960-center .g-mg10-11{width:650px;}
.g-960-center .g-mg10-12{width:710px;}
.g-960-center .g-mg10-13{width:770px;}
.g-960-center .g-mg10-14{width:830px;}
.g-960-center .g-mg10-15{width:890px;}
.g-960-center .g-lr10-db{width:475px;}/* 左右平分栅格 */
/**/

/* 960宽度 16栅格（20像素间隔） */
.g-960-center .g-mg20-01{width:40px;}
.g-960-center .g-mg20-02{width:100px;}
.g-960-center .g-mg20-03{width:160px;}
.g-960-center .g-mg20-04{width:220px;}
.g-960-center .g-mg20-05{width:280px;}
.g-960-center .g-mg20-06{width:340px;}
.g-960-center .g-mg20-07{width:400px;}
.g-960-center .g-mg20-08{width:460px;}
.g-960-center .g-mg20-09{width:520px;}
.g-960-center .g-mg20-10{width:580px;}
.g-960-center .g-mg20-11{width:640px;}
.g-960-center .g-mg20-12{width:700px;}
.g-960-center .g-mg20-13{width:760px;}
.g-960-center .g-mg20-14{width:820px;}
.g-960-center .g-mg20-15{width:880px;}
.g-960-center .g-lr20-db{width:470px;}/* 左右平分栅格 */
/**/

/* 960宽度 16栅格（30像素间隔） */
.g-960-center .g-mg30-01{width:30px;}
.g-960-center .g-mg30-02{width:90px;}
.g-960-center .g-mg30-03{width:150px;}
.g-960-center .g-mg30-04{width:210px;}
.g-960-center .g-mg30-05{width:270px;}
.g-960-center .g-mg30-06{width:330px;}
.g-960-center .g-mg30-07{width:390px;}
.g-960-center .g-mg30-08{width:450px;}
.g-960-center .g-mg30-09{width:510px;}
.g-960-center .g-mg30-10{width:570px;}
.g-960-center .g-mg30-11{width:630px;}
.g-960-center .g-mg30-12{width:690px;}
.g-960-center .g-mg30-13{width:750px;}
.g-960-center .g-mg30-14{width:810px;}
.g-960-center .g-mg30-15{width:870px;}
.g-960-center .g-lr30-db{width:465px;}/* 左右平分栅格 */
/**/

/*——————————————960宽度 结束——————————————*/



/* 像素间隔栅格非结束列 加外边距+ */.g-10-unlast{margin-right:10px;}.g-20-unlast{margin-right:20px;}.g-30-unlast{margin-right:30px;}/**/
/* 清除外边距 */.grid-last{margin:0;}/**/


/* 表单 */.form-01-FCD-app{width:100%;position:relative;z-index:5;}
.form-01-FCD-app .sub-all input{cursor:pointer;text-align:center;height:27px;line-height:27px;}
.form-01-FCD-app th{font-size:12px;font-weight:normal;width:40px;text-align:right;color:#333;height:40px;}
.form-01-FCD-app th font{color:#ff0000;padding:0 5px 0 0;}
.form-01-FCD-app td{font-size:12px;color:#333;}
.form-01-FCD-app td font{color:#ff0000;padding:0 5px;}
.form-01-FCD-app select{width:100px;margin-right:10px;}
.form-01-FCD-app .txt-input{height:14px;line-height:14px;border:1px solid #999;border-color:#999 #bbb #bbb #999;background:#fff;box-shadow:1px 1px 2px #bbb inset;width:320px;padding:5px;}
.form-01-FCD-app .txt-input-01{width:100px;margin-right:5px;}
.form-01-FCD-app .txt-input-02{width:50px;margin-right:5px;}
.form-01-FCD-app .inp-mr{margin-right:5px;float:left;}
.form-01-FCD-app .sub-all{float:left;margin-right:20px;}
.form-01-FCD-app .agin{height:27px;line-height:29px;overflow:hidden;font-size:14px;color:#115BA2;}
.form-01-FCD-app textarea{border:1px solid #999;border-color:#999 #bbb #bbb #999;background:#fff;box-shadow:1px 1px 2px #bbb inset;padding:5px;font-size:14px;color:#666;width:600px;height:200px;resize:none;}
.form-01-FCD-app textarea.intr{height:50px;margin-bottom:10px;}
.form-01-FCD-app .current{border:1px solid #ccc;background:#f6f6f6;box-shadow:none;}
.form-01-FCD-app .sub{padding:5px 30px;width:auto;height:30px;color:#fff;line-height:2em;background:none;}
.form-01-FCD-app .butt-02-FCD-app{margin-right:10px;padding:0;}

/* 按钮 */.btn-FCD-app{color:#fff;text-align:center;display:block;height:32px;line-height:32px;width:120px;font-size:16px;overflow:hidden;cursor:pointer;position:relative;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.btn-FCD-app input{width:100%;height:200px;position:absolute;background:none;cursor:pointer;left:0;top:0;}
.bgcolor-gray-02-FCD-app{background:#E3E3E3;color:#333;border:1px solid #999;box-shadow: 0 0 1px 1px #F6F6F6 inset;text-shadow: 0 1px 0 #FFFFFF;}
.bgcolor-gray-02-FCD-app:hover,.bgcolor-gray-02-current-FCD-app{background:#d9d9d9;border:1px solid #bbb;text-decoration:none;}


/*-----------非常道CSS框架样式结束-----------*/



/*-----------自定义样式开始-----------*/

/* 初始化 */
*{outline:none;font-family:"微软雅黑";}
body,div,ul,dl,li,h1,h2,h3,h4,h5,h6,h7,h8,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form{padding:0;margin:0;border:none;}
ul,li,dl,dt,dd{list-style:none;}
a,span,p,font{font-size:12px;}
i{font-style:normal;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
/**/

.gray-bg{background:#f7f7f7;}
.gray-bg-01{background:#ddd;}

/* 头部 */
.header{height:70px;background:#fff;border-bottom:1px solid #004fb1;}
.header-center{height:100%;}
.header .logo-db{display:block;width:240px;height:36px;overflow:hidden;background:url(../../images/icsser-logo.png) no-repeat;float:left;margin-top:18px;}
.header-nav{float:right;margin:23px 3px 0 0;}
.header-nav a,.header-nav span{float:left;height:26px;line-height:26px;display:block;color:#004fb1;font-size:15px;padding:0 10px;margin-right:2px;border:1px solid #004fb1;background:#fff;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.header-nav a.current,.header-nav a.current:hover{color:#fff;border:1px solid #f10708;background-color:#f10708;}
.header-nav a.current{cursor:default;}
.header-nav a:hover{text-decoration:none;color:#fff;border:1px solid #004fb1;background-color:#004fb1;}
/*.header-nav .sys{padding-left:20px;float:left;background:url(../images/ico-syp.png) no-repeat 2px top;}*/
.header-nav span{margin-right:0;border-color:#999;color:#999;font-size:12px;}
.header-nav span font{font-size:15px;color:#666;}
.main-slide .txt-db-01 a:hover{text-decoration:none;background:#636CB6;}
/**/

/* 头部与幻灯间隔提示 */
.prompt-mesg{height:1px;background:#878eca;}
.prompt-mesg font{line-height:25px;color:#fff;font-size:16px;}
/**/

/* 主幻灯 */
.main-slide{height:275px;background:#F7F7F7;padding-bottom:5px;position:relative;}
/*.main-slide .g-960-center{position:relative;z-index:50;}*/
.main-slide .slide-center{height:100%;overflow:hidden;position:relative;}
.main-slide .slide-cont-db{height:100%;position:absolute;}
.main-slide li{height:100%;width:100%;float:left;}
/*.main-slide li span.logo-img{display:block;width:156px;height:205px;position:absolute;left:50%;top:50%;margin:-150px 0 0 -570px;background:url(../../images/feichangdao-logo.png);}*/
.main-slide h1{font-size:30px;width:225px;color:#004fb1;float:left;text-align:right;padding:15px 0 0 75px;background:url(../../images/feichangdao-logo-01.png) left top no-repeat;margin-top:15px;}
.main-slide h2{font-size:30px;width:225px;color:#004fb1;padding:15px 0 0;margin-top:15px;}
.main-slide h1 font{font-weight:normal;font-size:14px;}
.main-slide .txt-db-01{width:600px;float:right;margin-top:32px;}
.main-slide .txt-db-01 p{font-size:16px;color:#004fb1;line-height:30px;margin-bottom:15px;}
.main-slide .txt-db-01 font{font-size:18px;}
.main-slide .txt-db-01 a{display:block;padding:0 20px;text-align:center;height:35px;color:#004FB1;font-size:18px;background:#fff;border:1px solid #004FB1;float:left;margin-right:2px;line-height:35px;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.main-slide .txt-db-01 a:hover{text-decoration:none;background:#004FB1;color:#fff;}
.main-slide .txt-db-01 a.red-bg{background:#fff;color:#f10708;border:1px solid #f10708;}
.main-slide .txt-db-01 a.red-bg:hover{background:#f10708;color:#fff;}
.main-slide .butt-db{height:5px;position:absolute;left:0;bottom:0;background:#eee;width:inherit;text-align:center;}
.main-slide .butt-db ul{overflow:hidden;display:inline-block;}
.main-slide .butt-db li{display:block;float:left;background:#ddd;overflow:hidden;width:20px;height:5px;cursor:pointer;overflow:hidden;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.main-slide .butt-db li:hover,.main-slide .butt-db .current{background:#004FB1;}
/**/


/* 首页主体 */
.wp-db-block{padding:25px 22px 20px 28px;background:#F7F7F7;overflow:hidden;}
/**/

/* 内页主体 */
.lef-cont{}
.lef-cont-01{margin-right:30px;}
/**/

/* 内容容器 */
.cont-01{}
.cont-b-01{border:1px solid #e6e6e6;}
.cont-b-02{border:1px solid #e6e6e6;border-top:none;}
/**/

/* 面包屑导航 */.nav-breadcrumbs{height:30px;background:#f7f7f7;}
.nav-breadcrumbs div{line-height:30px;color:#ccc;}
.nav-breadcrumbs a,.nav-breadcrumbs span{line-height:30px;padding:0 10px;color:#666;}
.nav-breadcrumbs a:hover{color:#004FB1;}
.nav-breadcrumbs a.fir{padding-left:0;}
.nav-breadcrumbs span{color:#999;}

/* 文章内容页 */.article-content-box{}
.article-title{margin-bottom:10px;}
.article-title h1{font-size:30px;color:#333;font-weight:normal;}
.article-info{overflow:hidden;padding-bottom:15px;border-bottom:1px dotted #ccc;}
.article-info span{display:block;float:left;margin-right:20px;color:#999;}
.article-info span b{font-weight:normal;}
.article-info .share-box{float:left;}
.article-info .share-box font{color:#999;}
.article-cont{padding-bottom:10px;line-height:30px;color:#333;}
.article-cont h1,.article-cont h2{font-size:16px;}
.article-cont p{font-size:16px;color:#333;text-indent:2em;padding:15px 0;line-height:30px;}
.article-cont p a{font-size:16px;color:#004FB1;}
.article-detail pre.css{padding:20px;background:#eee;}


/* 文章和回复 */
.article-reply{}
.article-reply li{margin-bottom:20px;}
.article-reply li.las{margin:0;}
.article-reply .theme-db{height:45px;position:relative;overflow:hidden;}
.article-reply .theme-db .white-db{background:#fff;position:relative;z-index:51;height:100%;float:left;padding-right:10px;}
.gray-bg-01 .article-reply .theme-db .white-db{background:#ddd;}
.article-reply .theme-db .white-db-01{float:right;margin-right:19px;padding-left:10px;display:none;}
.article-reply .theme-db .white-db-01 a{float:left;height:inherit;font-size:18px;line-height:45px;padding:0 15px;color:#333;margin-right:1px;background:#eee;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.article-reply .theme-db .white-db-01 a:hover{background:#004FB1;color:#fff;text-decoration:none;}
.blue-bg .article-reply .theme-db .white-db{background:#004fb1;}
.article-reply .theme-db .avatar{display:block;width:45px;height:inherit;overflow:hidden;margin-right:10px;float:left;}
.article-reply .theme-db img{width:inherit;height:inherit;}
.article-reply .theme-db h1{font-size:18px;height:inherit;font-weight:normal;float:left;line-height:45px;background:#eee;color:#333;}
.article-reply-02 .theme-db h1{padding:0 15px;}
.article-reply .theme-db h1 a{font-size:18px;padding:0 15px;display:block;background:#eee;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.article-reply-01 .theme-db h1 a{background:#fff;}
.article-reply .theme-db h1 a:hover{color:#fff;text-decoration:none;background:#004fb1;}
.blue-bg .article-reply .theme-db h1{background:#fff;color:#004FB1;}
.blue-bg .article-reply .theme-db h1 a{color:#fff;background:#004FB1;}
.blue-bg .article-reply .theme-db h1 a:hover{color:#004FB1;background:#fff;}
.article-reply .theme-db .point-line-01{height:45px;width:7px;overflow:hidden;background:url(../../images/point-line.gif) no-repeat -35px top;position:absolute;right:0;top:0;z-index:53;}
.article-reply .theme-db .point-line-04{background-position:-49px top;}
.article-reply .theme-db .point-01{width:7px;height:25px;overflow:hidden;background:url(../../images/point-line.gif) no-repeat -49px center;z-index:52;}
.article-reply .theme-db .line-01{height:1px;position:absolute;width:100%;left:0;top:22px;background:#e6e6e6;z-index:50;}
.gray-bg-01 .article-reply .theme-db .line-01{background:#004FB1;}
.gray-bg-01 .article-reply .theme-db .point-line-01{background-position:-7px top;}

#article_list .white-db{width:;}
/*.gray-bg-01 .article-reply .theme-db h1 a{background:#fff;}*/

.article-reply .article-db{padding:10px 25px 0 55px;margin-right:3px;border-right:1px solid #E6E6E6;overflow:hidden;line-height:25px;color:#666;}
.gray-bg-01 .article-reply .article-db{border-right:1px solid #004FB1;}
.article-reply .article-db img{width:200px;float:left;margin:7px 20px 5px 0;}
.article-reply .content{height:75px;overflow:hidden;margin-bottom:10px;line-height:25px;color:#666;}
.article-reply .article-db p{line-height:25px;color:#666;font-size:14px;text-indent:2em;}
.article-reply-01 .article-db{padding-left:15px;}
.article-reply-01 .article-db p{overflow:hidden;}
.blue-bg .article-reply-01 .article-db p{color:#fff;}
.article-reply .func-db{height:25px;margin-left:55px;}
.article-reply .func-db .white-db{float:right;padding:0 10px;margin-right:19px;}
.article-reply .func-db .white-db a{float:left;height:inherit;font-size:14px;line-height:25px;padding:0 15px;color:#333;background:#eee;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;margin-right:1px;}
.article-reply-01 .func-db .white-db a{background:#fff;}
.gray-bg-01 .article-reply .func-db .white-db a{color:#666;}
.article-reply .func-db .white-db a.las{margin:0;}
.article-reply .func-db .white-db a:hover{text-decoration:none;background:#004fb1;color:#fff;}
.blue-bg .article-reply .func-db .white-db a{background:#fff;color:#004fb1;-moz-transition:border-radius 0.5s ease 0s;-webkit-transition:border-radius 0.5s ease 0s;-o-transition:border-radius 0.5s ease 0s;-ms-transition:border-radius 0.5s ease 0s;transition:border-radius 0.5s ease 0s;}
.blue-bg .article-reply .func-db .white-db a:hover{color:#004fb1;border-radius:80px / 160px;}
.article-reply .func-db .point-line-01{height:25px;background:url(../../images/point-line.gif) no-repeat -28px center;z-index:53;}
.article-reply .func-db .point-line-02{background-position:-42px center;}
.article-reply .func-db .line-01{top:12px;}
.article-reply .func-db .line-02{width:30px;right:0;left:auto;}
.article-reply .func-db .point-line-02{background-position:-42px center;}
.gray-bg-01 .article-reply .func-db .point-line-02{background-position:-14px center;}
.article-reply .article-db-01{padding:10px 25px 10px 15px;}
.article-reply .article-db-01 p{height:75px;overflow:hidden;}
.article-reply-02 .func-db-01{display:none;}

/*.gray-bg-01 .article-reply .func-db .white-db a{background:#fff;}*/

.article-reply .reply-db{display:none;}
.article-reply .reply-db dt{height:25px;margin-bottom:1px;}
.article-reply .reply-db .avatar{width:19px;height:19px;display:block;overflow:hidden;float:left;margin:3px 10px 0 0;}
.article-reply .reply-db img{width:inherit;height:inherit;margin:0;}
.article-reply .reply-db h1{font-size:14px;font-weight:normal;line-height:25px;color:#333;}
.article-reply .reply-db dd{background:#f7f7f7;margin-bottom:10px;}
.article-reply .reply-db dd.las{margin:0;}
.article-reply .reply-db p{font-size:12px;line-height:20px;padding:10px 10px 10px 15px;color:#666;}

.article-reply .reply-textarea{padding:10px 25px 10px 0;display:none;}
.article-reply .reply-textarea .avatar{width:45px;height:45px;overflow:hidden;display:block;float:left;margin-right:10px;}
.article-reply .reply-textarea img{width:inherit;height:inherit;margin:0;}
.article-reply .reply-textarea textarea{width:594px;padding:5px;font-size:14px;color:#666;border:1px solid #d6d6d6;height:100px;resize:none}
.article-reply .reply-textarea textarea.current{border-color:#878ECA;box-shadow:0 0 5px #ccc inset;}
/**/


/*右线*/
.rig-login-db{margin-left:3px;border-left:1px solid #004fb1;padding:20px 0 20px 26px;}
/**/


/* 后台页面 */.header-01{border-bottom:5px solid #004FB1;height:60px;}
.header-01 .logo-db{margin-top:13px;}
.header-admin{padding:0 15px;}
.content-admin{width:100%;overflow:hidden;}
.nav-box-admin{margin:0 0 0 10px;}
.content-admin .g-db-03{height:100%;background:#004FB1;position:absolute;left:0;top:65px;}
.nav-box-admin a,.nav-title-admin{display:block;height:32px;line-height:32px;font-size:16px;color:#fff;text-align:center;margin-bottom:2px;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.nav-box-admin a:hover,.nav-box-admin a.current{text-decoration:none;background:#fff;color:#004FB1;}
.nav-box-admin a.current{cursor:text;margin-right:0;}
.nav-title-admin{border-bottom:1px solid #f7f7f7;font-weight:bold;font-size:18px;padding-bottom:5px;margin:0 0 2px 10px;}
.content-admin .content-01{width:auto;margin-left:180px;height:100%;overflow:auto;position:relative;}
.content-admin .func-box{height:32px;width:100%;background:#f7f7f7;position:absolute;left:0;top:0;z-index:50;padding-bottom:5px;border-bottom:1px solid #eee;}
.content-admin .post-get-box{padding:48px 30px 0;}
body.no-scroll{overflow:hidden;}


/* 登录框 */
.list-login-01-lj{}
.list-login-01-lj li{margin-bottom:10px;overflow:hidden;}
.list-login-01-lj li.las{margin:0;}
.list-login-01-lj input{width:198px;height:14px;border:1px solid #d6d6d6;font-size:14px;color:#999;padding:9px 5px;}
.list-login-01-lj input.current{border-color:#004FB1;box-shadow:0 0 5px #ccc inset;}
.list-login-01-lj .sub{height:34px;font-size:16px;border:none;display:block;width:210px;color:#fff;border-radius:5px;background:#878eca;line-height:34px;padding:0;cursor:pointer;-moz-transition:background 0.5s ease 0s;-webkit-transition:background 0.5s ease 0s;-o-transition:background 0.5s ease 0s;-ms-transition:background 0.5s ease 0s;transition:background 0.5s ease 0s;}
.list-login-01-lj .sub:hover{background:#636cb6;}
.list-login-01-lj .reg-butt{text-align:center;}
.list-login-01-lj .reg-butt:hover{text-align:center;text-decoration:none;}
.list-login-01-lj .remember{display:block;float:left;color:#004fb1;font-size:14px;}
.list-login-01-lj .remember input{height:auto;width:auto;float:left;margin:3px 5px 0 0;}
.list-login-01-lj .forget-pw{display:block;float:right;color:#004fb1;font-size:14px;}
/**/

/* 标题01 */
.title-db-01{height:25px;position:relative;}
.title-db-01 .point-01{height:inherit;width:7px;position:absolute;z-index:52;left:0;top:0;background:url(../../images/point-line.gif) no-repeat -7px center;}
.title-db-01 .point-02{background-position: left center;}
.title-db-01 .point-03{background-position: -14px center;}
.title-db-01 h1{margin-left:19px;padding-left:10px;background:#fff;font-size:16px;line-height:25px;height:inherit;font-weight:normal;color:#004fb1;position:relative;z-index:51;}
.title-db-01 .line-01{height:1px;position:absolute;width:100%;left:0;top:12px;width:30px;background:#004fb1;z-index:50;}
.block-23-null{overflow:hidden;width:100%;height:10px;}
/**/



/* 列表01 */
.icsser-list-01{}
.icsser-list-01 li{height:25px;line-height:25px;overflow:hidden;}
.icsser-list-01 a{font-size:14px;color:#666;}
.icsser-list-01 a:hover{color:#333;}
/**/

/* 列表02 */
.icsser-list-02{overflow:hidden;}
.icsser-list-02 li{width:65px;height:65px;float:left;margin:0 5px 5px 0;position:relative;overflow:hidden;}
.icsser-list-02 .great{width:135px;height:135px;}
.icsser-list-02 .rig{float:right;}
.icsser-list-02 a{width:100%;height:100%;display:block;position:absolute;z-index:20px;text-align:center;line-height:65px;}
.icsser-list-02 a:hover{text-decoration:none;}
.icsser-list-02 a div{color:#fff;font-size:14px;line-height:65px;width:inherit;height:inherit;-moz-transition:opacity 0.5s ease;-webkit-transition:opacity 0.5s ease;-o-transition:opacity 0.5s ease;-ms-transition:opacity 0.5s ease;transition:opacity 0.5s ease;}
.icsser-list-02 a .db-01{-moz-transition-delay:0.15s;-webkit-transition-delay:0.15s;-o-transition-delay:0.15s;-ms-transition-delay:0.15s;transition-delay:0.15s;}
.icsser-list-02 a .db-02{-moz-transition-delay:0.3s;-webkit-transition-delay:0.3s;-o-transition-delay:0.3s;-ms-transition-delay:0.3s;transition-delay:0.3s;}
.icsser-list-02 a .db-03{-moz-transition-delay:0.2s;-webkit-transition-delay:0.2s;-o-transition-delay:0.2s;-ms-transition-delay:0.2s;transition-delay:0.2s;}
.icsser-list-02 a .db-04{-moz-transition-delay:0.45s;-webkit-transition-delay:0.45s;-o-transition-delay:0.45s;-ms-transition-delay:0.45s;transition-delay:0.45s;}
.icsser-list-02 a .db-05{-moz-transition-delay:0.1s;-webkit-transition-delay:0.1s;-o-transition-delay:0.1s;-ms-transition-delay:0.1s;transition-delay:0.1s;}
.icsser-list-02 a .db-06{-moz-transition-delay:0.35s;-webkit-transition-delay:0.35s;-o-transition-delay:0.35s;-ms-transition-delay:0.35s;transition-delay:0.35s;}
.icsser-list-02 a .db-07{-moz-transition-delay:0.25s;-webkit-transition-delay:0.25s;-o-transition-delay:0.25s;-ms-transition-delay:0.25s;transition-delay:0.25s;}
.icsser-list-02 a .db-08{-moz-transition-delay:0.4s;-webkit-transition-delay:0.4s;-o-transition-delay:0.4s;-ms-transition-delay:0.4s;transition-delay:0.4s;}
.icsser-list-02 a .db-09{-moz-transition-delay:0.5s;-webkit-transition-delay:0.5s;-o-transition-delay:0.5s;-ms-transition-delay:0.5s;transition-delay:0.5s;}
.icsser-list-02 a:hover div{opacity:0;filter:alpha(opacity=0);}
.icsser-list-02 .great a{width:100%;height:100%;}
.icsser-list-02 .great a div{width:45px;height:45px;float:left;line-height:45px;font-size:20px;}
/*背景颜色*/
.icsser-list-02 .gray div{background:#999;}
.icsser-list-02 .red div{background:#f56f6e;}
.icsser-list-02 .orange div{background:#dba776;}
.icsser-list-02 .blue div{background:#6b99d3;}
.icsser-list-02 .yellow div{background:#c2b272;}
.icsser-list-02 .green div{background:#71b16e;}
.icsser-list-02 .violet div{background:#d36ba3;}
.icsser-list-02 .purple div{background:#878ECA;}
.icsser-list-02 .purple-01 div{background:#636cb6;}
/**/
.icsser-list-02 img{width:inherit;height:inherit;}
.icsser-list-02-w01,icsser-list-02-w02{width:420px;float:left;}
.icsser-list-02-w02{width:490px}
/**/

/* 列表03 */
.icsser-list-03{padding:20px 30px 20px 0;width:300px;float:left;}
.icsser-list-03 dt{line-height:20px;padding:5px 0 10px;}
.icsser-list-03 h1{font-size:16px;font-weight:normal;color:#333;}
.icsser-list-03 dd{height:20px;padding-bottom:5px;overflow:hidden;line-height:20px;width:150px;float:left;}
.icsser-list-03 a{font-size:12px;color:#666;padding-right:20px;display:block;height:20px;overflow:hidden;}
.icsser-list-03 a:hover{color:#333;}
.icsser-list-03-01{padding-right:0;}
/**/

/* head-01-icsser */.head-01-icsser{height:32px;}
.head-01-icsser span,.head-01-icsser .btn-close{padding:0 15px;height:100%;display:block;float:left;line-height:32px;text-align:center;font-size:16px;color:#999;cursor:pointer;}
.head-01-icsser span.current{background:#333;}
.head-01-icsser .btn-close{float:right;}
.head-01-icsser .btn-close:hover{text-decoration:none;background:#333;}


/* 表格01 */.tb-01{width:96%;background:#C9CDE9;margin:20px auto 0;}
.tb-01 th,.tb-01 td{background:#fff;height:40px;padding-left:10px;}
.tb-01 th{font-size:14px;width:60px;padding:0 10px 0 0;text-align:right;font-weight:normal;}
.tb-01 input,.tb-01 textarea{width:100%;font-size:14px;height:40px;}
.tb-01 textarea{height:120px;padding:5px 0;}
.tb-01 .sub{width:80px;height:26px;background:#C9CDE9;cursor:pointer;color:#333;}

/* 表格 */
.tab-02{width:360px;background:#d9e6f0;margin:5px auto;width:100%;}
.tab-02 td{background:#fff;height:30px;font-size:14px;padding:0 10px;color:#666;}
.tab-02 .thead td,.tab_01 th{background:#f3f9ff;font-size:12px;font-weight:bold;color:#666;line-height:25px;}
.tab-02 th{color:#f3f9ff;padding:0 5px;color:#375a90;width:30px;background:#f3f9ff;}
.tab-02 td font{color:#375a90;}
.tab-02 .ping_ico,.tab-02 .down_ico{margin-right:5px;}
.tab-02 .inp-txt{display:none;}
.tab-02 a.btn-updata{display:block;white-space:nowrap;height:24px;line-height:24px;text-align:center;background:#ccc;color:#fff;}
.tab-02 a.btn-updata:hover{background:#004FB1;}


/* 登录弹窗 */.login-pop-box{position:fixed;left:0;top:0;width:100%;_position:absolute;z-index:3000;display:none;}
.login-pop-box .position-box{width:100%;height:100%;position:relative;}
.login-pop-box .head-01-icsser{width:480px;position:absolute;left:50%;top:50%;margin:-232px 0 0 -240px;z-index:250;}
.login-pop-window{width:478px;height:318px;position:absolute;left:50%;top:50%;margin:-200px 0 0 -240px;z-index:200;border:1px solid #333;}
.login-pop-window .cont-01{margin-top:30px;}
.login-pop-mask{width:100%;height:100%;background:#000;opacity:0.9;filter:opacity(alpha=90);z-index:100;}
.login-pop-box-01{display:block;}
/* 登录表单 */.login-form-01{}
.login-form-01 .control-box{overflow:hidden;margin:0 0 15px 40px;width:350px;}
.login-form-01 label{float:left;font-size:16px;color:#999;float:left;height:40px;line-height:40px;width:100px;padding-right:10px;text-align:right;}
.login-form-01 .control{float:left;width:240px;}
.login-form-01 .control input{width:100%;height:16px;background:#333;font-size:16px;padding:12px 5px;color:#999;}
.login-form-01 .control p{color:#fff;line-height:32px;color:#444;font-size:14px;}
.login-form-01 .form-sub{padding-left:150px;}
.login-form-01 .sub{display:block;width:238px;height:40px;line-height:40px;text-align:center;font-size:16px;color:#999;border:1px solid #999;position:relative;overflow:hidden;}
.login-form-01 .sub:hover{color:#004FB1;border:1px solid #004FB1;text-decoration:none;box-shadow:0 0 5px #004FB1;}
.login-form-01 .sub input{position:absolute;width:100%;height:300px;background:none;cursor:pointer;left:0;top:0;}


/* 底部 */
.foot-infor{background:#F7F7F7;border-top:5px solid #eee;overflow:hidden;}
.footer{background:#fff;width:100%;border-top:1px solid #004fb1;}
.footer-center{padding:15px 0;overflow:hidden;}
.footer p{line-height:20px;padding:0;color:#004fb1;float:left;font-size:12px;line-height:16px;}
.footer-nav{float:right;margin-right:-10px;font-size:10px;color:#004fb1;line-height:16px;}
.footer-nav a{display:inline-block;line-height:16px;padding:0 10px;font-size:12px;color:#004fb1;}
/**/

/* 后台头部 */.am-center{padding-left:20px;padding-right:20px;min-width:720px;}

/*-----------自定义样式结束-----------*/
