extends ../public/hfer_list

block content
	include ../public/slide_t
	
	div(class='block-null block-20-null')
	div(class='main-general main-16 g-960-center')
		div.g-mg30-12
			ul(class='article-reply',id='article_list')
				- for(var x = 0; x < length; x++)
					li
						div.theme-db
							div.white-db
								h1
									a(href= '/home/detail/'+article[x]._id)= article[x].article.title
							div(class='point-line-01')
							div.line-01
							div(class='white-db white-db-01')
								a(href='javascript:;',class='unfold') 展开
								a(href= '/home/detail/'+article[x]._id) 查看全文
						div(class='article-db article-db-01')
							!= article[x].article.intr
						div(class='theme-db func-db')
							div.white-db
								a(href='javascript:;',class='collapse') 收起
								a(href= '/home/detail/'+article[x]._id) 查看全文
							div(class='point-line-01 point-line-02')
							div(class='line-01 line-02')
		div.g-db-04
			div.block-23-null
			//div.title-db-01
				div.point-01
				h1 用户登录
				div.line-01
			//div.rig-login-db
				include ../public/login_r
			//div.title-db-01
				div(class='point-01')
				h1 优质资源
				div.line-01
			//div.rig-login-db
				include ../public/right_metro
			div.title-db-01
				div(class='point-01')
				h1 推荐内容
				div.line-01
			div.rig-login-db
				ul(class='icsser-list-01')
					- for(var x = 0; x < length; x++)
						li
							a(href='')= article[x].article.title
			div.title-db-01
				div(class='point-01 point-03')
		div.clear-block