extends ../public/hfer

block content
	div.nav-breadcrumbs
		div.g-960-center
			<a href='/' class='fir'>首页</a>><a href='/article'>列表</a>-
			span= article[0].title
	div(class='block-null block-30-null')
	div(class='main-general main-16 g-960-center')
		div.g-mg30-12
			div.article-detail
				div.article-title
					h1= article[0].article.title
				div.article-info
					span
						b 发布时间：
						=article[0].article.time
					span
						b 作者：
						if(article[0].article.author)
							=article[0].article.author
						else
							未知
					span
						b 来源：
						if(article[0].article.source)
							=article[0].article.source
						else
							未知
					span
						b 标签：
						if(article[0].article.lable)
							=article[0].article.lable
						else
							未知
					//div.share-box
						font 分享到：
				div.article-cont
					!= article[0].article.content
			//ul(class='article-reply article-reply-02',id='reply_list')
				- for(var x = 0; x < 3; x++)
					li
						div.theme-db
							div.white-db
								a(href='' class='avatar')
									img(src='/pic/tx_01.gif')
								h1 天下第一果
							div.point-line-01
							div.line-01
						div.article-db
							p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通，现在还没有时间表。
						div(class='theme-db func-db')
							div.white-db
								a(href='javascript:;',class='unfold') 展开
								a(href='javascript:;',class='btn-reply') 回复
							div(class='point-line-01 point-line-02')
							div(class='line-01 line-02')
						div(class='article-db reply-textarea')
							a(href='' class='avatar')
								img(src='/pic/tx_01.gif')
							textarea
						div(class='theme-db func-db func-db-01')
							div.white-db
								a(href='',class='las') 提交
							div(class='point-line-01 point-line-03')
							div(class='line-01 line-02')
						dl(class='article-db reply-db')
							dt
								a(href='',class='avatar')
									img(src='/pic/tx_01.gif')
								h1 哇咔咔回复:
							dd 
								p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通现在还没有时间表。
							dt.las
								a(href='',class='avatar')
									img(src='/pic/tx_01.gif')
								h1 哇咔咔回复:
							dd 
								p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什
						div(class='theme-db func-db func-db-01')
							//div.white-db
								a(href='',class='las') 提交
							div(class='point-line-01 point-line-02')
							//div(class='line-01 line-02')
		div.g-db-04
			div.block-23-null
			//div.title-db-01
				div.point-01
				h1 用户登录
				div.line-01
			//div.rig-login-db
				include ../public/login_r
			div.title-db-01
				div(class='point-01')
				h1 优质资源
				div.line-01
			div.rig-login-db
				include ../public/right_metro
			div.title-db-01
				div(class='point-01 point-02')
				h1 最新文章
				div.line-01
			div.rig-login-db
				ul(class='icsser-list-01')
					- for(var x = 0; x < 6; x++)
						li
							a(href='') r_article.article[x].title
			div.title-db-01
				div(class='point-01 point-03')
		div.clear-block