extends ../public/hfer

block content
	div.nav-breadcrumbs
		div.g-960-center
			<a href='' class='fir'>首页</a>><a href=''>列表</a>-<span>详情</span>
	div(class='block-null block-30-null')
	div(class='main-general main-16 g-960-center')
		div.g-mg30-12
			div.article-detail
				div.article-title
					h1 为要使用CSS
				div.article-info
					span.issue-time 发布时间：2014-01-01
					span.author	作者：苹果下饭
					span.source	来源：www.icsser.com
					div.share-box
						font 分享到：
				div.article-cont
					p 在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶。在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶。在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂
					p 在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶。在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶
					p 在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶。在一处用塑料布搭起的简易棚里，31岁的张庆秋正坐在被子上给9个月大的儿子喂奶
			ul(class='article-reply article-reply-02')
				li
					div.theme-db
						div.white-db
							a(href='' class='avatar'): img(src='/pic/tx_01.gif')
							h1 天下第一果
						div.point-line-01
						div.line-01
					div.article-db
						p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通，现在还没有时间表。
					div(class='theme-db func-db')
						div.white-db
							a(href="") 查看回复
							a(href="") 回复
						div(class="point-line-01 point-line-02")
						div(class="line-01 line-02")
				li
					div.theme-db
						div.white-db
							a(href='' class='avatar'): img(src='/pic/tx_01.gif')
							h1 天下第一果
						div.point-line-01
						div.line-01
					div.article-db
						p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通，现在还没有时间表。
					div(class='theme-db func-db')
						div.white-db
							a(href="") 查看回复
						div(class="point-line-01")
						div(class="line-01 line-02")
					div(class="article-db reply-input")
						a(href="",class="avatar")
							img(src="/pic/tx_01.gif")
						textarea
					div(class='theme-db func-db')
						div.white-db
							a(href="",class='las') 提交
						div(class="point-line-01 point-line-02")
						div(class="line-01 line-02")
				li
					div.theme-db
						div.white-db
							a(href='' class='avatar'): img(src='/pic/tx_01.gif')
							h1 天下第一果
						div.point-line-01
						div.line-01
					div.article-db
						p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通，现在还没有时间表。
					div(class='theme-db func-db')
						div.white-db
							a(href="") 收起回复
						div(class="point-line-01")
						div(class="line-01 line-02")
					dl(class="article-db reply-db")
						dt
							a(href="",class="avatar")
								img(src="/pic/tx_01.gif")
							h1 哇咔咔回复:
						dd 
							p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通现在还没有时间表。
						dt.las
							a(href="",class="avatar")
								img(src="/pic/tx_01.gif")
							h1 哇咔咔回复:
						dd 
							p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通现在还没有时间表。
					div(class="article-db reply-input")
						a(href="",class="avatar")
							img(src="/pic/tx_01.gif")
						textarea
					div(class='theme-db func-db')
						div.white-db
							a(href="",class='las') 提交
						div(class="point-line-01 point-line-02")
						div(class="line-01 line-02")
				li
					div.theme-db
						div.white-db
							a(href='' class='avatar'): img(src='/pic/tx_01.gif')
							h1 天下第一果
						div.point-line-01
						div.line-01
					div.article-db
						p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通，现在还没有时间表。
					div(class='theme-db func-db')
						div.white-db
							a(href="") 收起回复
						div(class="point-line-01")
						div(class="line-01 line-02")
					dl(class="article-db reply-db")
						dt
							a(href="",class="avatar")
								img(src="/pic/tx_01.gif")
							h1 哇咔咔回复:
						dd 
							p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通现在还没有时间表。
						dt.las
							a(href="",class="avatar")
								img(src="/pic/tx_01.gif")
							h1 哇咔咔回复:
						dd 
							p 在乡政府的指挥部，四川省省委、省政府的领导正在组织抢通道路。截至22时，通往地震重灾区的道路基本上都已畅通。仅剩芦山通往宝兴、龙门通往宝盛的两条道路正在紧张抢修。四川省公路设计院组织的几名专家也已到达阻断地点，进行现场查勘。现场的武警交通官兵说，今晚可能要实行爆破，至于什么时候能抢通现在还没有时间表。
					div(class='theme-db func-db')
						div.white-db
							a(href="",class='las') 回复
						div(class="point-line-01 point-line-02")
						div(class="line-01 line-02")
		div.g-db-04
			div.block-23-null
			div.title-db-01
				div.point-01
				h1 用户登录
				div.line-01
			div.rig-login-db
				include ../public/login_r
			div.title-db-01
				div(class="point-01 point-02")
				h1 优质资源
				div.line-01
			div.rig-login-db
				ul.icsser-list-02
					li.great
						a(href="",class="purple")
							div.db-01
							div.db-02
							div.db-03
							div.db-04
							div.db-05 推荐
							div.db-06
							div.db-07
							div.db-08
							div.db-09
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="purple")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="orange")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="purple")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="yellow")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="purple")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="red")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="purple-01")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="green")
							div 非常道
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="gray")
							div 非常道
						img(src="/pic/tx_01.gif")
					li(class='great rig')
						a(href="",class="blue")
							div.db-01
							div.db-02
							div.db-03
							div.db-04
							div.db-05 推荐
							div.db-06
							div.db-07
							div.db-08
							div.db-09
						img(src="/pic/tx_01.gif")
					li
						a(a href="",class="purple")
							div 非常道
						img(src="/pic/tx_01.gif")
			div.title-db-01
				div(class='point-01 point-02')
				h1 常见问题
				div.line-01
			div.rig-login-db
				ul(class="icsser-list-01")
					- for(var x = 0; x < 5; x++)
						li
							a(href="")打发打发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬第三方辅导费
			div.title-db-01
				div(class="point-01 point-03")
		div.clear-block