extends ../public/hfer

block content
	include ../public/slide_t
	
	div(class='g-all-warp gray-bg-01')
		div(class='block-null block-30-null')
		div(class='main-general main-16 g-960-center')
			div.cont-01
				- for(var x = 0; x < length; x++)
					if(x == length-1)
						div(class='g-db-05')
							ul(class='article-reply article-reply-01')
								li.las
									div.theme-db
										div.white-db
											h1
												a(href='/home/detail/'+article[x]._id)= article[x].article.title
										div.point-line-01
										div.line-01
									div.article-db
										div.content!= article[x].article.intr
									div(class='theme-db func-db')
										div.white-db
											a(href='/home/detail/'+article[x]._id) 查看全文
										div(class='point-line-01 point-line-02')
										div(class='line-01 line-02')
					else
						div(class='g-db-05 lef-cont-01')
							ul(class='article-reply article-reply-01')
								li.las
									div.theme-db
										div.white-db
											h1
												a(href='/home/detail/'+article[x]._id)= article[x].article.title
										div.point-line-01
										div.line-01
									div.article-db
										div.content!= article[x].article.intr
									div(class='theme-db func-db')
										div.white-db
											a(href='/home/detail/'+article[x]._id) 查看全文
										div(class='point-line-01 point-line-02')
										div(class='line-01 line-02')
				div.clear-block
		div(class='block-null block-30-null')
	
	//include ../public/home_metro
	
	include ../public/login_pop
		