extends ../public/hfer

block content
	include ../public/slide_t
	
	div(class='g-all-warp gray-bg-01')
		div(class='block-null block-30-null')
		div(class='main-general main-16 g-960-center')
			div.cont-01
				- for(var x = 0; x < length; x++)
					if(x == length-1)
						div(class='g-db-05')
							ul(class='article-reply article-reply-01')
								li.las
									div.theme-db
										div.white-db
											h1
												a(href='/home/detail/'+article[length-1]._id)= article[length-1].article.title
										div.point-line-01
										div.line-01
									div.article-db
										div.content!= article[x].article.intr
									div(class='theme-db func-db')
										div.white-db
											a(href='/home/detail/'+article[length-1]._id) 查看全文
										div(class='point-line-01 point-line-02')
										div(class='line-01 line-02')
					else
						div(class='g-db-05 lef-cont-01')
							ul(class='article-reply article-reply-01')
								li.las
									div.theme-db
										div.white-db
											h1
												a(href='/home/detail/')= article[x].article.title
										div.point-line-01
										div.line-01
									div.article-db
										div.content!= article[x].article.intr
									div(class='theme-db func-db')
										div.white-db
											a(href='/home/detail/'+article[x]._id) 查看全文
										div(class='point-line-01 point-line-02')
										div(class='line-01 line-02')
				div.clear-block
		div(class='block-null block-30-null')
	
	//include ../public/home_metro
	
	div.foot-infor
		div.g-960-center
			dl.icsser-list-03
				dt 
					h1 本站推荐
					dd 
						a(href='http://www.w3school.com.cn/index.html',target='_blank') w3cschool 在线教程
					dd 
						a(href='http://html5.org/',target='_blank') HTML5
					dd 
						a(href='http://html5.org/',target='_blank') LESS (css预编译扩展)
					dd 
						a(href='http://jquery.com/',target='_blank') jquery (js库)
					dd 
						a(href='http://threejs.org/',target='_blank') THREEJS (3d图形引擎)
			dl.icsser-list-03
				dt 
					h1 外部资源
					dd 
						a(href='http://www.w3school.com.cn/index.html',target='_blank') w3cschool 在线教程
					dd 
						a(href='http://html5.org/',target='_blank') HTML5
					dd 
						a(href='http://html5.org/',target='_blank') LESS (css预编译扩展)
					dd 
						a(href='http://jquery.com/',target='_blank') jquery (js库)
					dd 
						a(href='http://threejs.org/',target='_blank') THREEJS (3d图形引擎)
			dl(class='icsser-list-03 icsser-list-03-01')
				dt 
					h1 友情链接
	
	include ../public/login_pop
		