doctype html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'

html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title= title
		link(type='text/css', rel='stylesheet', href='/css/icsser/icsser.css')
		link(href='favicon.ico',rel='shortcut icon')
	body
	div(class='g-960-center')
		div.withus-box
			h1 其实我们没什么好关于的(来错地方了)
			img(src='/pic/pic-01.png')
			p 
				你TM在逗我
				a(href='/')返回首页
				br
				font 有兴趣可来QQ群里打我啊155947197