@charset "utf-8";
/* CSS Document */

/*重写*/.thead-01-FCD-app{height:35px;}
/*重写*/.thead-01-01-FCD-app h1{border-bottom:3px solid #44B5DF;height:31px;color:#44B5DF;}
/*重写*/.thead-01-01-FCD-app h1 font{font-size:18px;color:#333;padding-left:10px;}
/*重写*/.thead-01-02-FCD-app h1{border-bottom:none;height:31px;color:#333;}
/*重写*/.jt-right-01-09-FCD-app{border-left:4px solid #44B5DF;}

/*广告图*/
.banner { background-image: url(../images/demo-02-banner.gif); height: 296px; width: 960px; }
.banner-top { padding-top:55px; padding-left:30px; }
.banner-top a { color:#44b5df; font-size:30px; font-weight:bold; font-family: "微软雅黑"; text-decoration: none; }
.banner-top a:hover { color:#ff7c00; text-decoration:none; }
.banner-mid { padding-left: 30px; margin-top: 20px; }
.banner-mid p { font-family: "微软雅黑"; font-size: 15px; color:#505050; text-decoration: none; }
/**/

/*服务范围*/
.column-service { height: 286px;}
/**/

/*案例展示*/
.column-case { height: 230px;}

.case { height: 180px;}
.case-pic-prev { float: left; height: 156px; width: 50px; }
.case-pic-prev ul li a { margin-top: 78px; display: block; background-image: url(../images/prev.gif); height: 22px; width: 20px; background-position: 0 0; }
.case-pic-prev ul li a:hover { background-image: url(../images/prev.gif); background-repeat: no-repeat; background-position: 0 -22px; }

.case-pic-next { float: right; height: 156px; width: 50px; }
.case-pic-next ul li a { margin-top: 78px; display: block; background-image: url(../images/next.gif); height: 22px; width: 20px; background-position: 0 0; float: right; }
.case-pic-next ul li a:hover { background-image: url(../images/next.gif); background-repeat: no-repeat; background-position: 0 -22px; }

/*展示*/
.case-pic{height: 132px; width: 202px; float: left; display: block; margin-top: 22px; border: 1px solid #dddddd;margin-left: 14px;}
.case-pic-first {margin-left:0;}

.case-bottom { height: 53px;display: block; float: left; }
.case-bottom p { font-family: "宋体"; font-size: 12px; line-height: 1.5em; margin-left: 123px; margin-top: 17px; }
.case-bottom p a {  color: #44b5df; line-height: 1.5em; }
/**/

/*网络学堂*/
.column-school { height: 280px;}
/**/

/*页尾*/
.footer { height: 107px; width:960px;display: block; border-top: 1px solid #dddddd;background:none; background-image: url(../images/footer-pic.jpg); background-repeat: no-repeat; background-position: left;}
.footer-right { float: right; height: 107px; width: 571px; display: block; }
.footer-right-01 { margin-top: 30px; margin-left: 60px; color: #999; font-size:12px;}
.footer-right-01 a:hover {color: #44b5df; }
.footer-right-02 { margin-top: 10px; margin-left: 60px; font-family: "宋体"; font-size: 12px; text-decoration: none; color: #44b5df; }
/**/



