doctype html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'

html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title= title
		link(type='text/css', rel='stylesheet', href='/css/icsser/icsser.css')
		link(href='favicon.ico',rel='shortcut icon')
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/slide.js')
		script(type='text/javascript', src='/js/icsser.js')
	body
		div(class='g-all-warp header')
			div(class='g-960-center header-center')
				a(href='/' class='logo-db')
				div.header-nav
					a(href='http://www.icsser.com',class='current') 首页
					a(href='/article') 文章
					//a(href='',id='log_btn') 登录
					//a(href='javascript:;',id='reg_btn') 注册
					//span 欢迎：
						font 苹果下饭
		
		block content
		
		div.foot-infor
			div.g-960-center
				dl.icsser-list-03
					dt 
						h1 本站推荐
						dd 
							a(href='/home/detail/531c1c97bb9950083a07da3c') CSS3中的高级属性
				dl.icsser-list-03
					dt 
						h1 外部资源
						dd 
							a(href='http://www.w3school.com.cn/index.html',target='_blank') w3cschool 在线教程
						dd 
							a(href='http://html5.org/',target='_blank') HTML5
						dd 
							a(href='http://html5.org/',target='_blank') LESS (css预编译扩展)
						dd 
							a(href='http://jquery.com/',target='_blank') jquery (js库)
						dd 
							a(href='http://threejs.org/',target='_blank') THREEJS (3d图形引擎)
				dl(class='icsser-list-03 icsser-list-03-01')
					dt 
						h1 友情链接
		div.footer
			div(class='g-960-center footer-center')
				p Copyright 2013 icsser 渝ICP备13002489号
				div.footer-nav
					<a href='/'>首页</a>|<a href='/with_us'>关于我们</a>
		