div(class='login-pop-box',id='login_pop_box')
	div.position-box
		div.head-01-icsser
			span.current 用户注册
			a(href='javascript:;',class='btn-close') 关闭
		div.login-pop-window
			div.cont-01
				form(class='login-form-01',method='post')
					div.control-box
						label(class='control-label',for='username') 用户名
						div.control
							input(type='text',id='username',class='username',name='username',tempval='请输入用户名',value='请输入用户名')
							p.tip-info 你的账户名称，用于登录和显示
					div.control-box
						label(class='control-label',for='password') 密码
						div.control
							input(type='password',id='password',class='password',name='password')
					div.control-box
						label(class='control-label',for='password-repeat') 重新输入密码
						div.control
							input(type='password',id='password-repeat',class='password',name='password-repeat')
					div.form-sub
						a(href='',class='sub') 注册
							input(type='submit',value='')
		div.login-pop-mask