ul.list-login-01-lj
	li
		input(type='text',value='用户名')
	li
		input(type='password',value='密码')
	li
		span.remember
			input(type='checkbox')
			记住
		a(href='',class='forget-pw')忘记密码
	li
		input(type='submit',class='sub',value='登录')
	li.las
		a(href='',class='sub reg-butt') 注册
		