ul.icsser-list-02
	li.great
		a(href="",class="purple")
			div.db-01
			div.db-02
			div.db-03
			div.db-04
			div.db-05 推荐
			div.db-06
			div.db-07
			div.db-08
			div.db-09
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="purple")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="orange")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="purple")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="yellow")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="purple")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="red")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="purple-01")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="green")
			div 非常道
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="gray")
			div 非常道
		img(src="/pic/tx_01.gif")
	li(class='great rig')
		a(href="",class="blue")
			div.db-01
			div.db-02
			div.db-03
			div.db-04
			div.db-05 推荐
			div.db-06
			div.db-07
			div.db-08
			div.db-09
		img(src="/pic/tx_01.gif")
	li
		a(a href="",class="purple")
			div 非常道
		img(src="/pic/tx_01.gif")