div(id='slider1' class='main-slide g-all-warp')
	div(class='slide-center g-all-warp')
		ul(class='slide-cont-db conbox')
			li
				div.g-960-center
					h1 
						非常道 CSS 框架
						br
						font version 1.1.2
					div.txt-db-01
						p
							font 简介：
							非常道CSS框架是一个为了应对各类WEB项目，所设计的CSS布局规则和CSS库的集合体，它具有良好的规范性、兼容性、易用性、扩展性。经过多个版本的项目实践与汇总，最终才有了现在的身姿。最重要的一点，它是一个国内的原创开源项目。所以作为前端初学或者有一定经验者一定不能错过它。你的支持也是我们坚持的动力，在此感谢！
						a(href='http://www.icsser.com/feichangdao/version 1.0.3.rar') 源文件下载
						a(class='red-bg',href='http://www.icsser.com/feichangdao/layout-12-frame.html') DEMO
				//span.logo-img
			li
				div.g-960-center
					div.unfined-box
						img(src='/pic/pic-02.png')
						p 好像还不知道放什么的赶脚。。。
						
	div.butt-db
		ul.switcher
			li.current
			li