div(id='slider1' class='main-slide g-all-warp')
	div(class='slide-center g-all-warp')
		ul(class='slide-cont-db conbox')
			li
				div.g-960-center
					h1 
						非常道 CSS 框架
						br
						font version 0.9.1 测试版
					div.txt-db-01
						p
							font 简介：
							非常道CSS框架是一个由国人搭建的开源CSS框架，它具有良好的规范性、兼容性、易用性、扩展性。并且在CSS库类方面提供了更加直观的查询方式，以及一套比较合理的自定义CSS入库规则，这使得这套框架可以更能满足一些使用者的极端定制需求。最后也是最重要的一点，它是一个本土产品，你的支持就是我们坚持的动力，在此感谢！
						a(href='http://www.icsser.com/feichangdao/feichangdao0.9.1.rar') 源文件下载
						a(class='red-bg',href='http://www.icsser.com/feichangdao/grid-example.html') DEMO
			li
				div.g-960-center
					h1 
						非常道 CSS 框架
						br
						font version 0.9.1 测试版
					div.txt-db-01
						p
							font 简介：
							非常道CSS框架是一个由国人搭建的开源CSS框架，它具有良好的规范性、兼容性、易用性、扩展性。并且在CSS库类方面提供了更加直观的查询方式，以及一套比较合理的自定义CSS入库规则，这使得这套框架可以更能满足一些使用者的极端定制需求。最后也是最重要的一点，它是一个本土产品，你的支持就是我们坚持的动力，在此感谢！
						a(href='http://www.icsser.com/feichangdao/feichangdao0.9.1.rar') 源文件下载
						a(class='red-bg',href='http://www.icsser.com/feichangdao/grid-example.html') DEMO
	div.butt-db
		ul.switcher
			li.current
			li
		